* {
    padding: 0;
    margin: 0;
    box-sizing: border-size;
}

body {
    font-size: 1em;
    margin: 20px;
}

h1 {
    margin: 20px;
}

h2 {
    margin: 20px;
}

.connect_button {
    padding: 5px;
    border-radius: 5px;
    margin: 10px;
}
